/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Montserrat:wght@100&family=Permanent+Marker&family=Sacramento&display=swap');

/*Elements*/
body {
    margin: 0;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #F4EBD9;
}
h1,h2,h3,p {
    color: #EE6352;
    font-weight: bold;
}
a {
    color: rgb(87, 167, 115);
    text-decoration: none;
    font-weight: bold;
    margin: 2%;
}
a:hover {
    color: #F4EBD9;
}


/*Classes*/
.top-container {
    text-align: center;
    margin: 1%;
}
.top-container img {
    width: 10%;
    height: 10%;
    padding-top: 3%;
}
.top-container h1 {
    font-size: 5rem;  
    font-family: 'Sacramento', cursive;
    margin: 0;
}
.top-container h2, .mid-container {
    margin: 0;
    padding: 0.5%;
}
.separator {
    width: 50%;
    position: relative;
    height: 5px;
    background-color: #57A773;
    left: 23%;
    margin: 2%;
    display: inline-block;
    border-radius: 7px;
}
.mid-container h2 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 10px;
}
.profile {
    display: flex;
    margin: 2%;
}
.profile img {
    position: relative;
    left: 27%;
    width: 10%;
    height: 10%;
}
.profile .content{
    position: relative;
    left: 37%;
    width: 25%;
}
.proj-intern-head {
    display: flex;
    position: relative;
    left: 25%;
    width: 50%;
}
.proj-intern-head img {
    position: relative;
    left: 7%;
    width: 30%;
    height: 30%;
}
/* .proj-intern-row .heading {
    display: flex;
    position: relative;
    left: 25%;
    margin-top: 5rem;
}
.proj-intern-row .heading img {
    position: relative;
    width: 10%;
    height: 5%;
    left: 40%;
} */
.wrapper {
    display: flex;
    margin-top: 2rem;
}
/* .wrapper img {
    position: relative;
    width: 6rem;
    height: 10rem;
    top: 2rem;
    left: 25%;
} */
.proj-intern-row .content {
    /* display: flex; */
    position: relative;
    left: 25%;
    width: 50%;
}

.bottom-container h2 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 10px;
}
.contact-me {
    margin: 1% auto 1% auto;
    width: 40%;
    text-align: center;
}
.links {
    text-align: center;
    /* top: 5rem; */
    margin-top: 5rem;
    position: relative;
    padding-top: 2%;
    padding-bottom: 0.2%;
    background-color: rgb(87, 167, 115,0.4);
}
.links p {
    color: #57A773;
    font-size: 14px;
    padding-top: 1rem;
}
.btn {
    background: #EE6352;
    border-radius: 21px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    position: relative;
    top: 2rem;
  }
  
  .btn:hover {
    background: #57A773;
  }
